<h1>chat</h1>
<h2 class="subtitle" id="username"></h2>
<div id="chatPanel"></div>
<div class="input">
  <input type="text" placeholder="type a message..." id="inputMsg" />
  <button id="sendMsg">send</button>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>