<div class="profile">
  <h1>profile</h1>
  <h6>{{message}}</h6>
  <h3>Welcome🥰</h3>
  <div id="userInfo">
    <h4 id="name"></h4>
    <p id="age"></p>
    <p id="email"></p>
  </div>
  <a href="/api/sessions/logout">log out</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/profile.js"></script>