<div>
  <h1>add product</h1>
  <form id="addProductForm">
    <input type="text" placeholder="Title" name="title" />
    <br />
    <input type="text" placeholder="Description" name="description" />
    <br />
    <input type="number" placeholder="Price" name="price" />
    <br />
    <input type="text" placeholder="Code" name="code" />
    <br />
    <input type="number" placeholder="Stock" name="stock" />
    <br />
    <input type="text" placeholder="Status" name="status" />
    <br />
    <input type="text" placeholder="Category" name="category" />
    <br />
    <input type="text" name="thumbnail" placeholder="Image URL" />
    <br />
    <button type="submit">add product</button>
  </form>
</div>

<div class="productList">
  <h2>product list:</h2>
  <ul id="productList"></ul>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/realTime.js"></script>