h1 {
  margin-top: 8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.div {
  display: flex;
  border: 1px solid black;
  padding: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  margin-inline: 6rem;
}

.img img {
  width: 10rem;
  height: 12rem;
  margin-right: 3rem;
}

.product {
  align-self: center;
}

.product h2 {
  text-transform: uppercase;
}

button {
  font-size: small;
  background-color: transparent;
  border: 1px solid black;
  margin-top: 1rem;
  padding-block: 7px;
  padding-inline: 15px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: black;
  color: white;
}

#total {
  text-align: center;
  text-transform: uppercase;
}

#total button {
  background-color: pink;
}

#purchase,
#emptyCart {
  text-align: center;
  padding-bottom: 4rem;
  border-bottom: 1px solid black;
}
