<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRE ENTREGA #3 | CASATTI</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/{{style}}" />

  </head>
  <body>
    <nav>
      <a href="/login">log in</a>
      <a href="/profile">profile</a>
      <a href="/shop">shop</a>
      <a href="/realTimeProducts">products</a>
      <a href="/chat">chat</a>
      <a href="/cart">cart</a>
    </nav>
    {{{body}}}
    <footer>
      <ul>
        <li>shop</li>
        <li>about</li>
        <li>chat</li>
        <li>contact</li>
      </ul>
    </footer>
  </body>

</html>